{% load cms_tags sekizai_tags %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu_effect.css' %}">
    <link rel="stylesheet" href="{% static 'css/typing_effect.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>EpicaIt</title>
    {% render_block "css" %}
</head>


<body>
    {% cms_toolbar %}
    <section id="navbar-container">
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block">
                    <!-- hidden spacer to center brand on mobile --></span>
                <div class="navbar-brand nav_logo">
                    <img src="{% static 'img/re_logo.png' %}">
                </div>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
                <ul class="navbar-nav snip1135 ml-auto flex-nowrap type-navbar">
                    <li class="nav-item">
                        <a href="#Epica-Model" class="nav-link smooth-scroll" data-toggle="collapse"
                            data-target="#myNavbar7">Epica
                            Model</a>
                    </li>
                    <li class="nav-item">
                        <a href="#About-Us" class="nav-link smooth-scroll" data-toggle="collapse"
                            data-target="#myNavbar7">About
                            Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#Technology-Capital" class="nav-link smooth-scroll" data-toggle="collapse"
                            data-target="#myNavbar7">Technology Capital</a>
                    </li>
                    <li class="nav-item">
                        <a href="#Video" class="nav-link smooth-scroll" data-toggle="collapse"
                            data-target="#myNavbar7">The Right
                            Fit</a>
                    </li>
                    <li class="nav-item">
                        <a href="#Contact" class="nav-link smooth-scroll" data-toggle="collapse"
                            data-target="#myNavbar7">Contact
                            Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <section id="Hero" class="container-fluid hero"
        style="background-image: url('{% static 'img/longex_s_d_c.jpg' %}')">
        <div class="row">
            <div class="col-12">

                <!-- Large -->
                <div class="hero-container block d-none d-md-block">
                    <h1>
                        Nearshore
                        <span class="for">for</span>
                        <br />
                        Startups
                        <br />
                        <span class="feat">feat</span>
                        <br />
                        <span class="words-wrapper-container">
                            <div class="dynamic-title cd-headline clip is-full-width">
                                <span class="cd-words-wrapper">
                                    <b class="is-visible"><span>Technology Capital</span></b>
                                    <b><span>Design thinking</span></b>
                                    <b><span>Lean startup</span></b>
                                    <b><span>Agil development</span></b>
                                    <b><span>DevOps</span></b>
                                </span>
                            </div>
                        </span>
                    </h1>
                </div>


                <!-- Mobile -->
                <div class="block d-block d-md-none" style="padding-left: 1.4em;">
                    <h1 style="color: white; font-size: 56px; line-height: 0.8em;">
                        Nearshore
                        <div>
                            <span style="color: #ff3300; font-size: 35px;">for</span>
                            <span style="font-size: 49px;">Startups</span>
                        </div>
                        <span style="font-size: 35px;">feat</span>

                        <span style="color: #ff3300; font-size: 28px;line-height: 38px;">
                            <span class="words-wrapper-container">
                                <div class="dynamic-title cd-headline clip is-full-width">
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible"><span>Technology Capital</span></b>
                                        <b><span>Design thinking</span></b>
                                        <b><span>Lean startup</span></b>
                                        <b><span>Agil development</span></b>
                                        <b><span>DevOps</span></b>
                                    </span>
                                </div>
                            </span>
                        </span>
                    </h1>
                </div>

            </div>
        </div>
    </section>

    <section id="Epica-Model" class="container-fluid d-flex justify-content-center fly" style="background-color:white;">
        <div class="row container mtb">
            <div class="col-lg-5 order-2 order-lg-1 mt_s">
                {% placeholder "Epica Model Image" %}
            </div>
            <div class="col-lg-7 order-1 order-lg-2">
                {% placeholder "Epica Model Content" %}
            </div>
        </div>
    </section>

    <section id="About-Us" class="container-fluid d-flex justify-content-center fly"
        style="background-color:whitesmoke;">
        <div class="row container mt">
            <div class="col-lg-7">
                {% placeholder "About Us Content" %}
                <div>
                    <button type="button" class="btn btn_cl collap" data-toggle="collapse" data-target="#collapse1">
                        {% placeholder "About Us Collapse Title 1" %}
                    </button>
                    <div id="collapse1" class="collapse" data-parent="#About-Us">
                        {% placeholder "About Us Collapse Content 1" %}
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn_cl collap" data-toggle="collapse" data-target="#collapse2">
                        <!--<i class="fa fa-plus"></i>-->
                        {% placeholder "About Us Collapse Title 2" %}
                    </button>
                    <div id="collapse2" class="collapse" data-parent="#About-Us">
                        {% placeholder "About Us Collapse Content 2" %}
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn_cl collap" data-toggle="collapse" data-target="#collapse3">
                        {% placeholder "About Us Collapse Title 3" %}
                        </button>
                    <div id="collapse3" class="collapse" data-parent="#About-Us">
                        {% placeholder "About Us Collapse Content 3" %}
                    </div>
                </div>
                {% placeholder "About Us Content 2" %}
            </div>

            <div class="col-lg-5 recent_work bg_image text-white mtb_s d-flex align-items-center justify-content-center"
            style="background-image: url('{% static 'img/re_au.jpg' %}')">
                <div>
                    <div>
                      <div class="text-center">
                        <h2>Recent work</h2>
                        <div class="text-center">
                          <button class="btn btn-light" data-toggle="modal" data-target="#work">
                            Case Studies</button>
                        </div>
                      </div>
                    </div>
                    <div class="mt-5">
                      <div class="text-center">
                        <h2>How we do it?</h2>
                        <div class="spacing"></div>
                        <div class="call-btn text-center wow move-up">
                          <button class="btn btn-light" data-toggle="modal" data-target="#process">
                            EPICA’s process</button>
                        </div>
                      </div>
                    </div>
                  </div>

            <div class="modal fade" id="work" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="work">Recent Work</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% placeholder "Recent Work Image" %}
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="process" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="process">Epica’s Process</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% placeholder "Epica's Process" %}
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>

    <section id="Team" class="container-fluid d-flex justify-content-center fly" style="background-color: whitesmoke;">

        <!--Large-->
        <div class="container d-none d-md-block mb">
            <div class="row rounded">
                <div class="col-12">
                    <h1 class="title" style="margin: 49px 0px;">Our Team of Technologists</h1>
                </div>
                <div class="col-3 team-avatar">
                    {% placeholder "Team Picture 1" %}
                    <div class="team-caption">
                        <div class="text-center">
                            <a class="mr-4" href="https://www.linkedin.com/in/erick-zarza/">
                                <i class="fa fa-linkedin team_social"></i></a>
                            <a href="https://twitter.com/ErickEpicaIT">
                                <i class="fa fa-twitter team_social"></i></a>
                            <h5>Erick Zarza</h5>
                            <p>Technical Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 team-avatar">
                    {% placeholder "Team Picture 2" %}
                    <div class="team-caption">
                        <div class="text-center">
                            <a class="mr-4" href="https://www.linkedin.com/in/cynthiazarza/">
                                <i class="fa fa-linkedin team_social"></i></a>
                            <a href="https://twitter.com/CynthiaEpicaIT">
                                <i class="fa fa-twitter team_social"></i></a>
                            <h5>Cynthia Flores-Zarza</h5>
                            <p>Founder / Project Builder</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 team-avatar">
                    {% placeholder "Team Picture 3" %}
                    <div class="team-caption">
                        <div class="text-center">
                            <a href="https://www.linkedin.com/in/leonardo-barreto-572928107">
                                <i class="fa fa-linkedin team_social"></i></a>
                            <h5>Leonardo J. Barreto</h5>
                            <p>Tech Lead</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 team-avatar">
                    {% placeholder "Team Picture 4" %}
                    <div class="team-caption">
                        <div class="text-center">
                            <div style="margin-top: 55.5%;">
                                <h5>Leonardo D. Barreto</h5>
                                <p>Front-end Developer / Dev Relations Consultant</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Small-->
        <div class="container block d-md-none mb">
            <div class="col-12">
                <h1 class="title" style="margin: 0 0 1.4em 0;">Our Team of Technologists</h1>


                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner rounded carousel_block">
                        <div class="carousel-item active">
                            <div class="team_mobile_bg">
                                {% placeholder "Team Picture 1" %}
                            </div>
                            <div class="carousel-caption">
                                <a class="mr-4" href="https://www.linkedin.com/in/erick-zarza/">
                                    <i class="fa fa-linkedin team_social"></i></a>
                                <a href="https://twitter.com/ErickEpicaIT">
                                    <i class="fa fa-twitter team_social"></i></a>
                                <h5>Erick Zarza</h5>
                                <p>Technical Founder</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="team_mobile_bg">
                                {% placeholder "Team Picture 2" %}
                            </div>
                            <div class="carousel-caption">
                                <a class="mr-4" href="https://www.linkedin.com/in/cynthiazarza/">
                                    <i class="fa fa-linkedin team_social"></i></a>
                                <a href="https://twitter.com/CynthiaEpicaIT"><i class="fa fa-twitter team_social"></i></a>
                                <h5>Cynthia Flores-Zarza</h5>
                                <p>Founder / Project Builder</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="team_mobile_bg">
                                {% placeholder "Team Picture 3" %}
                            </div>
                            <div class="carousel-caption">
                                <a href="https://www.linkedin.com/in/leonardo-barreto-572928107">
                                    <i class="fa fa-linkedin team_social"></i></a>
                                <h5>Leonardo J. Barreto</h5>
                                <p>Tech Lead</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="team_mobile_bg">
                                {% placeholder "Team Picture 4" %}
                            </div>
                            <div class="carousel-caption" style="top: 44%;">
                                <h5>Leonardo D. Barreto</h5>
                                <p>Front-end Developer / Dev Relations Consultant</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>
        </div>

    </section>

    <section id="Technology-Capital" class="container-fluid d-flex justify-content-center fly"
        style="background-color:white;">
        <div class="row container mtb">

            <div class="col-lg-8">
                {% placeholder "Technology Capital Text 1" %}
                <p>
                    <div class="dynamic-title cd-headline clip is-full-width">
                        <span class="cd-words-wrapper">
                            <b class="is-visible"><span class="gold-title">software</span></b>
                            <b><span class="gold-title">web or mobile apps from native</span></b>
                            <b><span class="gold-title">multiplatform and PWA’s</span></b>
                            <b><span class="gold-title">Software Development for Windows</span></b>
                            <b><span class="gold-title">Mac & Linux environments</span></b>
                            <b><span class="gold-title">AI</span></b>
                            <b><span class="gold-title">Machine learning</span></b>
                            <b><span class="gold-title">R&D</span></b>
                        </span>
                    </div>
                </p>
                {% placeholder "Technology Capital Text 2" %}

                <div id="inter">
                    <div>
                        <button type="button" class="btn btn_cl collap" data-toggle="collapse"
                            data-target="#collapsetc1">
                            {% placeholder "Technology Capital Collapse Title 1" %}
                        </button>
                        <div id="collapsetc1" class="collapse" data-parent="#inter">
                            {% placeholder "Technology Capital Collapse Content 1" %}
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn_cl collap" data-toggle="collapse"
                            data-target="#collapsetc2">
                            {% placeholder "Technology Capital Collapse Title 2" %}
                        </button>
                        <div id="collapsetc2" class="collapse" data-parent="#inter">
                            {% placeholder "Technology Capital Collapse Content 2" %}
                        </div>
                    </div>
                </div>
                {% placeholder "Technology Capital Text 3" %}
            </div>

            <div class="col-lg-4 mtb_s">
                {% placeholder "Technology Capital Image" %}
            </div>

        </div>
    </section>

    <section id="Video" class="container-fluid d-flex justify-content-center fly" style="background-color:whitesmoke;">
        <div class="row container mtb">
            <div class="col-12" style="text-align: center;">
                {% placeholder "The Right Fit Title" %}
                <div class="embed-youtube">
                    <iframe src="https://www.youtube.com/embed/VDeqIzFEkyg" allowfullscreen width="840"
                        height="473"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="Dual" class="container-fluid d-flex justify-content-center fly" style="background-color:white;">
        <!--Large-->
        <div class="container d-none d-xl-block mtb">
            <div class="row text-white">
                <div class="col-lg-6" style="padding: 2em;">
                    <div class="dual dual_bg1" style="background-image: url('{% static 'img/re_sq1.jpg' %}')">
                        <div class="mb-5">
                            {% placeholder "Dual 1 Text" %}
                        </div>
                        <div class="text-center">
                            <a class="smooth-scroll" href="#Contact">
                                <button class="btn btn-light">What would you like to build?</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding: 2em;">
                    <div class="dual dual_bg2" style="background-image: url('{% static 'img/re_sq.jpg' %}')">
                        <div class="mb-5">
                            {% placeholder "Dual 2 Text" %}
                        </div>
                        <div class="text-center">
                            <a class="smooth-scroll" href="#Contact">
                                <button class="btn btn-light">Let's create together!</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Small-->
        <div class="container d-xl-none mtb">

            <div class="row align-items-center">
                <div class="col-lg-4">

                    <div class="thumb mt-5" style="text-align: center;">
                        {% placeholder "Dual 1 Image" %}
                        <p class="mtb_s rsp_sbtl"><strong>What would you like to build?</strong></p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <p>
                            So, you’ve been contemplating the idea of nearshore but seems almost impossible to find the
                            right mix of
                            technology, quality code, volume, and price for your early stage StartUp development needs?
                            We know the standard nearshore model is not inherently the right fit for the agility, level
                            of innovation
                            and focus on KPI’s a Startup requires & this is what makes us radically different from other
                            nearshore
                            options: <strong>WE SPEAK STARTUP</strong>.
                        </p></br>
                        <p>
                            Our growth strategy is not based on headcount, we know Startups need their IT investment to
                            stretch and
                            retract according to revenue / investment flow.
                            We aim to become a Nearshore Seed Accelerator & that means the brands we help build today,
                            will help us
                            build the reputation and create the Investment Fund we will need in the future, therefore
                            for us, it is
                            every bit as much about your successful exit as it is for you
                        </p>
                    </div>
                </div>
            </div>

            <div class="row align-items-center mt-5">
                <div class="col-lg-4">

                    <div class="thumb" style="text-align: center;">
                        {% placeholder "Dual 2 Image" %}
                        <p class="mtb_s rsp_sbtl"><strong>Let's create together!</strong></p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <p>
                            Do you consider yourself an innovator? Would love to work independently, are capable of
                            collaborating with
                            professionals anywhere in the world and look at mobility as a key factor for work-life
                            balance?
                            Epica’s business model takes cues from “direct trade” and runs on a system called ROWE
                            (Results only work
                            environment) which allows you to work anytime, anywhere as long as consistently deliver
                            results sprint by
                            sprint.
                        </p></br>
                        <p>
                            After having to move to pursue opportunity, we realized that there’s a lot of people like
                            us, wishing they
                            did not have to move. We decided that being 2019 and all, we needed to bring the right kind
                            of opportunity
                            to talented folks right where they want to live, whether that be the sandy beaches of
                            Florianopolis,
                            Brazil, or wine country in Ensenada, Mexico, allowing them to be happier and more prone to
                            innovation.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section id="Contact" class="container-fluid d-flex justify-content-center fly"
        style="background-color:whitesmoke;">


        <div class="row container mtb justify-content-center">
            <div class="col-12">
                <h1 class="title text-center">Send us a Message</h1>
            </div>
            <div class="col-12 col-md-6">

                <form>
                    <div class="form-group mt-5">
                        <input type="name" class="form-control text-input" id="exampleInputName1" placeholder="Name*">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control text-input" id="exampleInputEmail1"
                            placeholder="Email*">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control text-input" id="exampleInputPhone1"
                            placeholder="Phone Number">
                    </div>
                    <div class="form-check">
                        <div><label>Please select your role</label></div>
                        <div>
                            <input type="radio" name="role" value="entrepreneur" checked>
                            <span style="margin-left: 25px;"> Entrepreneur</span>
                        </div>
                        <div>
                            <input type="radio" name="role" value="developer">
                            <span style="margin-left: 25px;"> Developer</span>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <textarea class="form-control text-input" style="min-height: 150px;"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn_contact w-100" placeholder="Your Message">Send
                        Message</button>
                </form>

            </div>
        </div>

    </section>

    <section id="Footer" class="container-fluid d-flex justify-content-center fly" style="background-color:black;">
        <div class="row container" style="margin: 49px 0px; color: whitesmoke;">
            <div class="col-12 col-md-6">
                {% placeholder "Footer Text" %}
            </div>
            <div class="col-1 col-md-3">
            </div>
            <div class="col-12 col-md-3 mtb_s" style="text-align: right">
                <img src="{% static 'img/re_logo.png' %}">
                <div style="align-content: center;">
                    <a href="#"><i class="fa fa-linkedin text-white"></i></a>
                    <a href="#"><i class="fa fa-twitter text-white"></i></a>
                </div>
            </div>
            <div class="col-12 mt-5" style="text-align: right;">
                <p class="rsp_algn mtb_s">© 2019 EpicaIt. All Rights Reserved.</p>
            </div>
        </div>
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Smooth Scroll -->
    <script src="{% static 'js/smooth_scroll.js' %}"></script>
    <script src="{% static 'js/typing_effect.js' %}"></script>

    {% render_block "js" %}


</body>

</html>